

  /* Верстка подвала _________________________*/
.footer-content {
    width: 1200px;
    height: auto;
    margin: 0 auto 0 auto;
  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .social {
    width: 1200px;
    height: auto;
    margin: 0 15px 74px 15px;
    background-color: #f4f7f6;
  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .social__nav {
    width: 170px;
    height: auto;
    padding-top: 31px;
    padding-bottom: 31px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  .nav-item:nth-child(n + 2) {
    margin-left: 29px;
  }
  
  .nav-item-link-dribbble {
    width: 21px;
    height: 21px;
  
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
    box-sizing: border-box;
    display: block;
  }
  .nav-item-link-pinterest {
    width: 21px;
    height: 21px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
    box-sizing: border-box;
    display: block;
  }
  .nav-item-link-tumblr {
    width: 21px;
    height: 21px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
    box-sizing: border-box;
    display: block;
  }
  
  .copyright {
    max-width: 367px;
    height: auto;
    margin: 0 auto 41px auto;
  
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
  
    display: inline-block;
  }
  
  .copyright-link {
    text-decoration: none;
    color: #999999;
  }

  @media (max-width: 1199px) and (min-width: 641px) {
    .footer-content {
      width: 97.5%;
      height: auto;
      margin: 0 auto 0 auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }

    .social {
      width: 100%;
      height: auto;
      margin: 0 15px 74px 15px;
      background-color: #f4f7f6;
      
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 640px) {
    .footer-content {
      width: 97.5%;
      height: auto;
      margin: 0 auto 0 auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }

    .social {
      width: 100%;
      height: auto;
      margin: 0 15px 30px 15px;
      background-color: #f4f7f6;
      
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }