 /* Рабочай область для доп контента _________________________*/
 .aside {
    width: 272px;
    height: auto;
    margin-right: 15px;
    padding-left: 1px;
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  /* Рабочай область для БЛОКА доп контента _________________________*/
  .postAside {
    width: 272px;
    height: auto;
    margin-bottom: 50px;
    padding-left: 1px;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Рабочай область для поста _________________________*/
  .containerPostAside {
    width: 271px;
    height: auto;
    margin-bottom: 22px;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Верстка заголовка h3 */
  .titleAside {
    text-align: center;
  }
  
  .titleAside::after {
    content: "";
    width: 66px;
    margin: 8px auto 0 auto;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
  
    display: block;
  }
  
  .titleResourceAside {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
  .aside-title__resource:hover {
    color: #b59f5b;
  }
  
  /* Верстка поста */
  .newPostAside {
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: start;
  }
  
  .newPostImgAside {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .newPostContentAside {
    box-sizing: border-box;
    width: 201px;
    padding-left: 20px;
    height: auto;
  }
  
  .dataAside {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    opacity: 0.54;
    text-align: left;
  }
  
  .titleNewPostAside {
    margin-right: 0;
    padding-right: 0;
    margin-top: 5px;
  }
  
  .titleNewPostResourceAside {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    line-height: 18px;
  }
  
  .titleNewPostResourceAside:hover {
    color: #b59f5b;
  }
  
  /* Верстка формы в посте */
  .postSearchAside {
    width: 271px;
    height: auto;
    margin-top: 25px;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
  }
  
  /* Верстка кнопки */
  .postButtonAside {
    width: 50px;
    height: 50px;
  
    background-color: #b59f5b;
    background-image: url("https://netology-code.github.io/html-2-homeworks/form-elements/search-field/img/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    border: 0;
  }
  .postButtonAside:hover {
    cursor: pointer;
    background-color: #323232;
  }
  
  /* Верстка input */
  .postFieldAside {
    height: 50px;
    width: 200px;
    padding-left: 19px;
    background: #f4f7f6;
    border: 0;
  }
  .postFieldAside:focus {
    content: "";
    height: 50px;
    width: 200px;
    padding: 0 0 0 19px;
    border: 1px solid rgba(181, 159, 91, 0.4);
    border: transparent;
    outline-color: #b59f5b;
  }
  
  
  
  /* Верстка aside__mailing ______________________________________*/
  .mailingAside {
    width: 272px;
    height: auto;
    margin-bottom: 50px;
    padding-left: 1px;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .subscriptionASide {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }
  
  .subscriptionGroupAside {
    width: 271px;
    margin-top: 27px;
    margin-bottom: 16px;
  }
  
  .subscriptionFieldAside {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 19px;
    width: 250px;
    background: #f4f7f6;
    border: 0;
  }
  .subscriptionFieldAside:focus {
    content: "";
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 19px;
    height: 15px;
    width: 250px;
  
    border: 1px solid rgba(181, 159, 91, 0.4);
    border: transparent;
    outline-color: #b59f5b;
  }
  
  .subscriptionButtonAside {
    width: 271px;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #b59f5b;
    border: 0;
  }
  .subscriptionButtonAside:hover {
    cursor: pointer;
    background-color: #323232;
  }
  
  /* Верстка aside__tag ______________________________________*/
  .tagAside {
    width: 272px;
    height: auto;
    margin-bottom: 50px;
    padding-left: 1px;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }
  
  .menuAside {
    margin-top: 20px;
    margin-left: 17px;
  }
  
  .menuListAside {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .menuListItemAside,
  .menuListItemAside-margin {
    margin-top: 15px;
  }
  
  /* .menuListItemAside:nth-child(n + 2) {
    margin-left: 5px;
  } */
  
  .menuLinkAside {
    box-sizing: border-box;
    width: auto;
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: black;
    border: 2px solid #eeeeee;
    padding: 4px 13px 4px 13px;
  }
  
  .menuLinkAside:hover {
    border: 2px solid #b59f5b;
  }
  
  /* Верстка aside__topic ______________________________________*/
  .topicMenuAside {
    margin-top: 25px;
    padding-left: 2px;
  }
  
  .topicMenuListAside {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .topicMenuListItemAside {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgba(182, 159, 91, 0.3);
  }
  
  /* .topicMenuListItemAside:nth-child(n + 2) {
    margin-top: 15px;
  } */
  
  .topicMenuLinkAside {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-align: center;
  }
  
  .topicMenuLinkAside:hover {
    color: #b59f5b;
  }
  
  .supAside {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    color: #b59f5b;
  }


  .popupContanerAside {
    margin-top: 50px;
    width: 272px;
    height: auto;
  }
  .pupupAside {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0, 0, 0.5);

    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }
  .popupContentAside {
    position: relative;
    background: #fff;
    min-width: 400px;
    min-height: 590px;
    box-sizing: border-box;
  }
  .popupCloseAside {
    position: absolute;
    color: #fff;
    right: -20px;
    top:-35px;
    font-size: 40px;
    cursor: pointer;
  }
  .popupOpenAside {
    box-sizing: border-box;
    display: block;
    width: 271px;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #b59f5b;
    border: 0;

    cursor: pointer;
  }
  .popupOpenAside:hover {
    cursor: pointer;
    background-color: #323232;
  }
  .popupToggleAside {
    display: none;
  }

  .popupToggleAside:checked + .pupupAside {
    display: flex;
  }


  .popupTitle {
    font-size: 20px;
    margin-top: 50px;
  }
  .formAside {
    width: 340px;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
  }
  .contanerListAside {
    width: 100%;
    margin-top: 27px;
    margin-bottom: 26px;
  }
  .formHintAside {
    display: block;
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    text-align: left;
    color: black;
    line-height: 16px;
    margin-top: 5px;
  }
  .listAside {
    margin-top: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #f4f7f6;
    width: 100%;
    height: 49px;
    border: 0;
    padding: 0 0 0 20px;
    color: rgba(0,0, 0, 0.5);
  }
  .listAside:focus {
    content: "";
    height: 49px;
    width: 100%;
    padding: 0 0 0 20px;
    border-bottom: 1px solid rgba(181, 159, 91, 0.4);
    border-bottom: transparent;
    outline-color: #b59f5b;
  }
  .optioListAside {
    color: rgba(0,0, 0, 0.5);
  }
  

  .contanerEmailAside {
    width: 100%;
  }
  .boxAnswerASide {
    display: flex;
    margin-top: 3px;
  }
  .answer{
    display: flex;
    gap: 5px;
  }
  .boxAnswerNoASide{
    margin-left: 12px;
  }
  .answerAside {
    display: block;
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    color: black;
  }

  .contanerMessageAside {
    margin-top: 17px;
  }
  .formTextAside {
    margin-top: 11px;
    width: 100%;
    height: 130px;
    background: #f4f7f6;
    border: none;
  }
  .formTextAside:focus {
    content: "";
    height: 130px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    border-bottom: 1px solid rgba(181, 159, 91, 0.4);
    border-bottom: transparent;
    outline-color: #b59f5b;
  }

  .formButtonPopupASide {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 26px;
  
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #b59f5b;
    border: 0;

    cursor: pointer;
  }
  

  @media (max-width: 914px) and (min-width: 641px)  {
    .aside {
      margin-right: 26px;
    }
  }

  @media (max-width: 640px)  {
    .aside {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .postAside {
      box-sizing: border-box;
      width: 90%;
      padding: 0px;
      padding-right: 16px;
      margin-left: 16px;
    }

    .containerPostAside {
      width: 100%;
      align-items: center;
    }
    .titleAside{
      align-self: center;
    }

    .titleResourceAside {
      font-size: 16px;
    }

    .mailingAside {
      box-sizing: border-box;
      width: 90%;
      padding-right: 16px;
      margin-left: 16px;
    }
    .subscriptionGroupAside {
      width: 100%;
      align-items: flex-start;
    }
    .subscriptionButtonAside {
      width: 100%;
      align-items: flex-start;
    }

    .topicAside {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 85%;
      padding-right: 16px;
      margin-left: 25px;
      
    }
    .topicContainerAside {
      width: 90%;
    }

    .topicMenuAside {
      align-items: center;
      justify-content: center;
    }
  

    .topicMenuListItemAside {
      width: 80%;
    }
    .topicMenuAside {
      padding-left: 15px;
    }


    .tagAside {
      width: 90%;
      height: auto;
      margin: 0 auto 50px auto;
      box-sizing: border-box;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: start;
      flex-direction: column;
    }
    
    .menuAside {
      width: 70%;
      margin: 20px auto 0 auto;
    }
    
    .menuListAside {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      flex-wrap: wrap;
      gap: 15px;
    }
  }