 /* Рабочай область для доп контента _________________________*/
 .aside {
    width: 272px;
    height: auto;
    margin-right: 15px;
    padding-left: 1px;
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  /* Рабочай область для БЛОКА доп контента _________________________*/
  .postAside {
    width: 272px;
    height: auto;
    margin-bottom: 50px;
    padding-left: 1px;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Рабочай область для поста _________________________*/
  .containerPostAside {
    width: 271px;
    height: auto;
    margin-bottom: 22px;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Верстка заголовка h3 */
  .titleAside {
    text-align: center;
  }
  
  .titleAside::after {
    content: "";
    width: 66px;
    margin: 8px auto 0 auto;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
  
    display: block;
  }
  
  .titleResourceAside {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
  .aside-title__resource:hover {
    color: #b59f5b;
  }
  
  /* Верстка поста */
  .newPostAside {
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: start;
  }
  
  .newPostImgAside {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .newPostContentAside {
    box-sizing: border-box;
    width: 201px;
    padding-left: 20px;
    height: auto;
  }
  
  .dataAside {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    opacity: 0.54;
    text-align: left;
  }
  
  .titleNewPostAside {
    margin-right: 0;
    padding-right: 0;
    margin-top: 5px;
  }
  
  .titleNewPostResourceAside {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    line-height: 18px;
  }
  
  .titleNewPostResourceAside:hover {
    color: #b59f5b;
  }
  
  /* Верстка формы в посте */
  .postSearchAside {
    width: 271px;
    height: auto;
    margin-top: 25px;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
  }
  
  /* Верстка кнопки */
  .postButtonAside {
    width: 50px;
    height: 50px;
  
    background-color: #b59f5b;
    background-image: url("https://netology-code.github.io/html-2-homeworks/form-elements/search-field/img/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    border: 0;
  }
  .postButtonAside:hover {
    cursor: pointer;
    background-color: #323232;
  }
  
  /* Верстка input */
  .postFieldAside {
    height: 50px;
    width: 200px;
    padding-left: 19px;
    background: #f4f7f6;
    border: 0;
  }
  .postFieldAside:focus {
    content: "";
    height: 50px;
    width: 200px;
    padding: 0 0 0 19px;
    border: 1px solid rgba(181, 159, 91, 0.4);
    border: transparent;
    outline-color: #b59f5b;
  }
  
  
  
  /* Верстка aside__mailing ______________________________________*/
  .mailingAside {
    width: 272px;
    height: auto;
    margin-bottom: 50px;
    padding-left: 1px;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .subscriptionASide {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }
  
  .subscriptionGroupAside {
    width: 271px;
    margin-top: 27px;
    margin-bottom: 16px;
  }
  
  .subscriptionFieldAside {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 19px;
    width: 250px;
    background: #f4f7f6;
    border: 0;
  }
  .subscriptionFieldAside:focus {
    content: "";
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 19px;
    height: 15px;
    width: 250px;
  
    border: 1px solid rgba(181, 159, 91, 0.4);
    border: transparent;
    outline-color: #b59f5b;
  }
  
  .subscriptionButtonAside {
    width: 271px;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #b59f5b;
    border: 0;
  }
  .subscriptionButtonAside:hover {
    cursor: pointer;
    background-color: #323232;
  }
  
  /* Верстка aside__tag ______________________________________*/
  .tagAside {
    width: 272px;
    height: auto;
    margin-bottom: 50px;
    padding-left: 1px;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }
  
  .menuAside {
    margin-top: 20px;
    margin-left: 17px;
  }
  
  .menuListAside {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
  }
  
  .menuListItemAside,
  .menuListItemAside-margin {
    margin-top: 15px;
  }
  
  .menuListItemAside:nth-child(n + 2) {
    margin-left: 5px;
  }
  
  .menuLinkAside {
    box-sizing: border-box;
    width: auto;
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: black;
    border: 2px solid #eeeeee;
    padding: 4px 13px 4px 13px;
  }
  
  .menuLinkAside:hover {
    border: 2px solid #b59f5b;
  }
  
  /* Верстка aside__topic ______________________________________*/
  .topicMenuAside {
    margin-top: 25px;
    padding-left: 2px;
  }
  
  .topicMenuListAside {
    list-style-type: none;
  }
  
  .topicMenuListItemAside {
    height: 46px;
    border-bottom: 1px solid rgba(182, 159, 91, 0.3);
  }
  
  .topicMenuListItemAside:nth-child(n + 2) {
    margin-top: 15px;
  }
  
  .topicMenuLinkAside {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-align: center;
  }
  
  .topicMenuLinkAside:hover {
    color: #b59f5b;
  }
  
  .supAside {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    color: #b59f5b;
  }

  @media (max-width: 914px) and (min-width: 641px)  {
    .aside {
      margin-right: 26px;
    }
  }

  @media (max-width: 640px)  {
    .aside {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .postAside {
      width: 100%;
      padding: 0px;
      margin-right: 16px;
      margin-left: 16px;
    }

    .containerPostAside {
      width: 100%;
      align-items: center;
    }
    .titleAside{
      align-self: center;
    }

    .titleResourceAside {
      font-size: 16px;
    }

    .mailingAside {
      width: 100%;
      margin-right: 16px;
      margin-left: 16px;
    }
    .subscriptionGroupAside {
      width: 100%;
      align-items: center;
    }
    .subscriptionButtonAside {
      width: 100%;
      align-items: center;
    }

    .tagAside {
      width: 100%;
      padding: 0px;
      margin-right: 16px;
      margin-left: 16px;
    }

    .topicAside {
      width: 100%;
      margin-right: 16px;
      margin-left: 16px;
    }
    
  }