/* Рабочая область для основного и доплнительного контента _________________________*/
.workingArea {
    max-width: 1200px;
    height: auto;
    margin: 64px auto 64px auto;
    padding: 0;
  
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
  
  /* Рабочай область для основного контента _________________________*/
  .main {
    width: 65%;
    height: auto;
    margin: 0 0 0 15px;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  /* Рабочай область для контейнера_________________________*/
  .cardMain {
    height: auto;
    margin-bottom: 60px;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  /* стилизация картинки_________________________*/
  .cardImgMain {
    /* width: 381px; */
    width: 49%;
    height: auto;
    padding: 0;
    box-sizing: border-box;
  
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #b59f5b;
  }
  
  /* Рабочай область и стилизация информации*/
  .cardContentMain {
    box-sizing: border-box;
    padding-left: 30px;
    /*width: 397px; */
    width: 41%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  /*Верстка контентных ссылок над темой*/
  .cardNavMain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: 20px;
  }
  
  /* .cardListMain:nth-child(n + 2) {
    margin-left: 20px;
  } */
  
  .cardLinkMain {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 13px;
    color: #b59f5b;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
  
  .cardLinkMain:hover {
    text-decoration: underline;
    text-align: center;
  }
  
  /*Верстка заголовка h2*/
  .cardTitleMain {
    margin-top: 5px;
  }
  
  .cardResourceMain {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
  .cardResourceMain:hover {
    color: #b59f5b;
  }
  
  /*Верстка доп инфы*/
  .cardInfoMain {
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
    margin-top: 30px;
  }
  
  .cardInfoDataMain {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    text-align: left;
    opacity: 0.54;
  }
  
  .cardInfoAuthorMain {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    color: black;
    text-align: left;
  
    margin-left: 15px;
  }
  
  /*Верстка текста для карты*/
  .cardTextMain {
    margin-top: 35px;
  }
  
  .cardContentTextMain {
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    color: black;
    line-height: 22px;
  }

  .two {
    margin-top: 10px;
  }

  .decorCardMain {
    display: none;
  }

  @media (max-width: 914px) and (min-width: 696px)  {
    .main {
      margin-left: 26px;
    }

    .cardMain {
      flex-direction: column;
    }

    .cardImgMain {
      margin-bottom: 15px;
      width: 381px;
    }

    .cardContentMain {
      padding-left: 0px;
      width: 397px; 
    }

    .cardResourceMain {
      font-size: 17px;
    }

    .cardInfoMain {
      margin-top: 25px;
    }

    .cardTextMain {
      margin-top: 25px;
    }

    .decorCardMain {
      display: block;
      width: 381px;
      margin: 15px 0 0 0;
      padding: 0;
      height: 0;
      border: none;
      border: 2px solid #eeeeee;
    }
  }

  @media (max-width: 695px) and (min-width: 641px)  {
    .main {
      margin-left: 26px;
    }

    .cardMain {
      flex-direction: column;
    }

    .cardImgMain {
      margin-bottom: 15px;
      width: 80%;
    }

    .cardContentMain {
      padding-left: 0px;
      width: 80%;
    }
    /* .cardTitleMain {
      width: 80%;
    } */

    .cardResourceMain {
      font-size: 17px;
    }

    .cardInfoMain {
      margin-top: 25px;
    }

    .cardTextMain {
      margin-top: 25px;
    }

    .decorCardMain {
      display: block;
      width: 252px;
      margin: 15px 0 0 0;
      padding: 0;
      height: 0;
      border: none;
      border: 2px solid #eeeeee;
    }
  }

  @media (max-width: 640px)  {
    .workingArea {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 42px auto 42px auto;
    }
    .main {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: no-wrap;
    }

    .cardMain {
      height: auto;
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .cardImgMain {
      /* width: 381px; */
      width: 100%;
      height: auto;
      padding-left: 16px;
      padding-right: 16px;
      background-color: white;
    }

    .cardContentMain {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 15px;
    }

    .cardLinkMain {
      font-size: 14px;
    }

    .cardResourceMain {
      font-size: 16px;
    }

    .cardInfoMain {
      margin-top: 20px;
    }

    .cardTextMain {
      margin-top: 17px;
    }

    .decorCardMain {
      box-sizing: border-box;
      display: block;
      width: 100%;
      margin: 20px 0 0 0;
      padding-left: 16px;
      padding-right: 16px;
      height: 0;
      border: none;
      border: 2px solid #eeeeee;
    }
  }

